<div class="user_dashboard">
        <ul class="copyright_wrapper">
            <li class="copyright">&#169; 2013 Twitter</li>
            <li><a herf="#">About</a></li>
            <li><a herf="#">Help</a></li>
            <li><a herf="#">Terms</a></li>
            <li><a herf="#">Privacy</a></li>
            <li><a herf="#">Blog</a></li>
            <li><a herf="#">Status</a></li>
            <li><a herf="#">Apps</a></li>
            <li><a herf="#">Resources</a></li>
            <li><a herf="#">Jobs</a></li>
            <li><a herf="#">Advertisers</a></li>
            <li><a herf="#">Businesses</a></li>
            <li><a herf="#">Media</a></li>
            <li><a herf="#">Developers</a></li>           

            <br style="clear:both;">
        </ul>
</div><!-- user_dashboard -->