<div class="user_dashboard">
		Who to Follow .
        <%= link_to "Refresh", "#", :class => "refresh" %> .
        <%= link_to "View All", "#", :class => "refresh" %>

        <ul class="nav nav-pills nav-stacked">
            <%= @followable_users %>
            <% (1..3).each do |i| %>
            <li>
            <div class="media who_tofollow_padding">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/assets/usertweet_profilepic.png">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        MagmaConf <small>&#169; MagmaConf</small>
                    </h5>
                    Followed by Gregg Pollack
                    <br />
                     <a class="btn" href="#">Follow</a>
                </div><!-- media-body -->
            </div><!-- media padding -->
            </li>
            <% end %>
        </ul>
</div><!-- user_dashboard -->