<table>
  <tr>
    <td><h5>Other users</h5></td>
  </tr>
  <% User.without_user(current_user).each  do |user| %>
  <tr>
    <td><%= link_to user.name, user  %></td>
    <td>
       <%= link_to_if(user.following?(current_user), "Unfollow", unfollow_user_path(user)) do link_to 'Follow', follow_user_path(user) end %>
    </td>
  </tr>
  <% end %>
</table>