<div class="edit_profile_container">
	<div class="edit_profile_title">
		<h3>Following</h3>
	</div>

<ul class="nav nav-pills nav-stacked">
    <% if !@following.nil? %> 
        <% @following.each do |user| %>
            <li>
            <div class="media tweetbox_padding border">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/assets/usertweet_profilepic.png">
                </a>
                <div class="media-body">
                    <h5 class="media-heading  border_bottom">
                        <%= link_to user.name, user %> 
                    </h5>
                    	<%= link_to "Unfollow", unfollow_user_path(user) %>
		
				<% end %>
				<% else %>
			<h5><%= @user.name %> is not following to anyone.</h2>
		<% end %>
                    <div class="btn btn-info"> Following </div>

                </div><!-- media-body -->
            </div><!-- media padding -->
            </li>

            
            </ul>
</div>