<div class="map_container">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&zoom=11&size=600x600&sensor=false" %>
    <!-- google map -->
</div><!-- map_container -->