<table>
  <h5>Your Tweets</h5>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.status %></td>
      <td><%= link_to tweet.user.email, tweet.user %></td>
    </tr>
  <% end %>
</table>

Create a new tweet <%= link_to 'New Tweet',  new_user_tweet_path(@user) %> 
<br />
</div>


<!--</div>
</div>-->