<div class="span4">
	<div class="user_dashboard">
        <ul class="nav nav-tabs nav-stacked mrgn_btm">
            <li class="active"><a herf="#">Tweets</a></li>
            <li><a herf="#">Following</a></li>
            <li><a herf="#">Followers</a></li>
            <li><a herf="#">Favourites</a></li>
            <li><a herf="#">Lists</a></li>
        </ul>
    </div><!-- user_dashboard -->
<div class="clear_both"></div>
	<div class="user_dashboard">
		<p>Who to Follow</p>
	</div><!-- user_dashboard -->
</div><!-- span4 -->


<div class="span7">
	<div class="edit_profile_container">
	hello
	</div>

</div>