<div class="span4">
    <%= render 'user_profile_section' %>
    <%= render 'user_location_map' %>
</div><!-- span4 -->

<!--  right container  -->
<div class="span7">
  <%= render 'tweets/tweets', :tweets => @user.tweets %>
</div>