body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #f7faff url(../assets/page-bg.gng);
  background-attachment: fixed;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  /* color: #000; */
  &:visited {
    /* color: #777;
    text-decoration: none;
    background-color: none; */
  }
  &:hover {
    /* color: #777;
    background-color: #000; */
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  width: 100%;
  padding: 2px;
  background-color: #fff;
  display: table;
  input.input-block-level{
    width: 100%;
    box-sizing: border-box;
  }
}

#error_explanation {
  width: 100%;
  border: none;
  padding: 7px 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: none;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #0083cc;
    color: #fff;
    border-radius: 3px;
  }
  ul{
    margin-left: 8px;
  }
  ul li {
    font-size: 12px;
    list-style-type: none;
    background-color: none;
    border-radius: 0 0 3px 3px;
  }
}
